header {
    border-bottom: solid 1.5px gray;
}
  
a:hover {
    color: black;
}

iframe {
    height: 800px;
    width: 800px;
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin-top: 10px;
}